USE [master]
GO
/****** Object:  Database [Aganichev_Shoes]    Script Date: 18.11.2025 20:11:53 ******/
CREATE DATABASE [Aganichev_Shoes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Aganichev_Shoes', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Aganichev_Shoes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Aganichev_Shoes_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Aganichev_Shoes_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Aganichev_Shoes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Aganichev_Shoes]
GO
/****** Object:  Table [dbo].[Manufacturer]    Script Date: 18.11.2025 20:11:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturer](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 18.11.2025 20:11:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [int] NOT NULL,
	[OrderNumber] [float] NULL,
	[OrderDate] [datetime] NULL,
	[DeliveryDay] [datetime] NULL,
	[FK_PickUpPoint] [int] NULL,
	[FK_Client] [int] NULL,
	[CodeToReceive] [float] NULL,
	[FK_OrderStatus] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Contents]    Script Date: 18.11.2025 20:11:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Contents](
	[ID] [int] NOT NULL,
	[FK_Product] [int] NULL,
	[Quantity] [float] NULL,
	[FK_Order] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatus]    Script Date: 18.11.2025 20:11:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatus](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PickUpPoint]    Script Date: 18.11.2025 20:11:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PickUpPoint](
	[ID] [int] NOT NULL,
	[Addreses] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 18.11.2025 20:11:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] NOT NULL,
	[Article] [nvarchar](255) NULL,
	[FK_ProductName] [int] NULL,
	[FK_Unit] [int] NULL,
	[Price] [float] NULL,
	[FK_Supplier] [int] NULL,
	[FK_Manufacturer] [int] NULL,
	[FK_ProductCategory] [int] NULL,
	[Discount] [float] NULL,
	[CountOnStorage] [float] NULL,
	[Description] [nvarchar](255) NULL,
	[Photo] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Name]    Script Date: 18.11.2025 20:11:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Name](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 18.11.2025 20:11:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 18.11.2025 20:11:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 18.11.2025 20:11:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unit]    Script Date: 18.11.2025 20:11:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 18.11.2025 20:11:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] NOT NULL,
	[FK_UserRole] [int] NULL,
	[FIO] [nvarchar](255) NULL,
	[Login] [nvarchar](255) NULL,
	[Password] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Manufacturer] ([ID], [Name]) VALUES (1, N'Alessio Nesca')
INSERT [dbo].[Manufacturer] ([ID], [Name]) VALUES (2, N'CROSBY')
INSERT [dbo].[Manufacturer] ([ID], [Name]) VALUES (3, N'Kari')
GO
INSERT [dbo].[Order] ([ID], [OrderNumber], [OrderDate], [DeliveryDay], [FK_PickUpPoint], [FK_Client], [CodeToReceive], [FK_OrderStatus]) VALUES (1, 1, CAST(N'2025-02-27T00:00:00.000' AS DateTime), CAST(N'2025-04-20T00:00:00.000' AS DateTime), 1, 4, 901, 1)
INSERT [dbo].[Order] ([ID], [OrderNumber], [OrderDate], [DeliveryDay], [FK_PickUpPoint], [FK_Client], [CodeToReceive], [FK_OrderStatus]) VALUES (2, 2, CAST(N'2022-09-28T00:00:00.000' AS DateTime), CAST(N'2025-04-21T00:00:00.000' AS DateTime), 11, 1, 902, 1)
INSERT [dbo].[Order] ([ID], [OrderNumber], [OrderDate], [DeliveryDay], [FK_PickUpPoint], [FK_Client], [CodeToReceive], [FK_OrderStatus]) VALUES (3, 3, CAST(N'2025-03-21T00:00:00.000' AS DateTime), CAST(N'2025-04-22T00:00:00.000' AS DateTime), 2, 2, 903, 1)
GO
INSERT [dbo].[Order_Contents] ([ID], [FK_Product], [Quantity], [FK_Order]) VALUES (1, 1, 2, 1)
INSERT [dbo].[Order_Contents] ([ID], [FK_Product], [Quantity], [FK_Order]) VALUES (2, 2, 2, 1)
INSERT [dbo].[Order_Contents] ([ID], [FK_Product], [Quantity], [FK_Order]) VALUES (3, 3, 1, 2)
GO
INSERT [dbo].[OrderStatus] ([ID], [Name]) VALUES (1, N'Завершен')
INSERT [dbo].[OrderStatus] ([ID], [Name]) VALUES (2, N'Новый ')
INSERT [dbo].[OrderStatus] ([ID], [Name]) VALUES (3, N'В пути')
GO
INSERT [dbo].[PickUpPoint] ([ID], [Addreses]) VALUES (1, N'420151, г. Лесной, ул. Вишневая, 32')
INSERT [dbo].[PickUpPoint] ([ID], [Addreses]) VALUES (2, N'125061, г. Лесной, ул. Подгорная, 8')
INSERT [dbo].[PickUpPoint] ([ID], [Addreses]) VALUES (3, N'630370, г. Лесной, ул. Шоссейная, 24')
GO
INSERT [dbo].[Product] ([ID], [Article], [FK_ProductName], [FK_Unit], [Price], [FK_Supplier], [FK_Manufacturer], [FK_ProductCategory], [Discount], [CountOnStorage], [Description], [Photo]) VALUES (1, N'А112Т4', 1, 1, 4990, 1, 3, 1, 3, 6, N'Женские Ботинки демисезонные kari', N'1.jpg')
INSERT [dbo].[Product] ([ID], [Article], [FK_ProductName], [FK_Unit], [Price], [FK_Supplier], [FK_Manufacturer], [FK_ProductCategory], [Discount], [CountOnStorage], [Description], [Photo]) VALUES (2, N'F635R4', 1, 1, 3244, 2, 4, 1, 2, 13, N'Ботинки Marco Tozzi женские демисезонные, размер 39, цвет бежевый', N'2.jpg')
INSERT [dbo].[Product] ([ID], [Article], [FK_ProductName], [FK_Unit], [Price], [FK_Supplier], [FK_Manufacturer], [FK_ProductCategory], [Discount], [CountOnStorage], [Description], [Photo]) VALUES (3, N'H782T5', 7, 1, 4499, 1, 3, 2, 4, 5, N'Туфли kari мужские классика MYZ21AW-450A, размер 43, цвет: черный', N'3.jpg')
GO
INSERT [dbo].[Product_Name] ([ID], [Name]) VALUES (1, N'Ботинки')
INSERT [dbo].[Product_Name] ([ID], [Name]) VALUES (2, N'Кеды')
INSERT [dbo].[Product_Name] ([ID], [Name]) VALUES (3, N'Кроссовки')
GO
INSERT [dbo].[ProductCategory] ([ID], [Name]) VALUES (1, N'Женская обувь')
INSERT [dbo].[ProductCategory] ([ID], [Name]) VALUES (2, N'Мужская обувь')
GO
INSERT [dbo].[Role] ([ID], [Name]) VALUES (1, N'Администратор')
INSERT [dbo].[Role] ([ID], [Name]) VALUES (2, N'Менеджер')
INSERT [dbo].[Role] ([ID], [Name]) VALUES (3, N'Авторизированный клиент')
GO
INSERT [dbo].[Supplier] ([ID], [Name]) VALUES (1, N'Kari')
INSERT [dbo].[Supplier] ([ID], [Name]) VALUES (2, N'Обувь для вас')
GO
INSERT [dbo].[Unit] ([ID], [Name]) VALUES (1, N'шт.')
GO
INSERT [dbo].[User] ([ID], [FK_UserRole], [FIO], [Login], [Password]) VALUES (1, 1, N'Никифорова Весения Николаевна', N'94d5ous@gmail.com', N'uzWC67')
INSERT [dbo].[User] ([ID], [FK_UserRole], [FIO], [Login], [Password]) VALUES (2, 1, N'Сазонов Руслан Германович', N'uth4iz@mail.com', N'2L6KZG')
INSERT [dbo].[User] ([ID], [FK_UserRole], [FIO], [Login], [Password]) VALUES (3, 1, N'Одинцов Серафим Артёмович', N'yzls62@outlook.com', N'JlFRCZ')
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([FK_Client])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([FK_OrderStatus])
REFERENCES [dbo].[OrderStatus] ([ID])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([FK_PickUpPoint])
REFERENCES [dbo].[PickUpPoint] ([ID])
GO
ALTER TABLE [dbo].[Order_Contents]  WITH CHECK ADD FOREIGN KEY([FK_Order])
REFERENCES [dbo].[Order] ([ID])
GO
ALTER TABLE [dbo].[Order_Contents]  WITH CHECK ADD FOREIGN KEY([FK_Product])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([FK_Manufacturer])
REFERENCES [dbo].[Manufacturer] ([ID])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([FK_ProductName])
REFERENCES [dbo].[Product_Name] ([ID])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([FK_ProductCategory])
REFERENCES [dbo].[ProductCategory] ([ID])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([FK_Supplier])
REFERENCES [dbo].[Supplier] ([ID])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([FK_Unit])
REFERENCES [dbo].[Unit] ([ID])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([FK_UserRole])
REFERENCES [dbo].[Role] ([ID])
GO
USE [master]
GO
