USE [master]
GO
/****** Object:  Database [Aganichev_MusicEquipmentRental]    Script Date: 29.10.2025 15:50:00 ******/
CREATE DATABASE [Aganichev_MusicEquipmentRental]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Aganichev_MusicEquipmentRental', FILENAME = N'D:\DB\MSSQL16.VIP2024\MSSQL\DATA\Aganichev_MusicEquipmentRental.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Aganichev_MusicEquipmentRental_log', FILENAME = N'D:\DB\MSSQL16.VIP2024\MSSQL\DATA\Aganichev_MusicEquipmentRental_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Aganichev_MusicEquipmentRental].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Aganichev_MusicEquipmentRental]
GO
/****** Object:  Table [dbo].[EquipmentType]    Script Date: 29.10.2025 15:50:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipmentType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufacturer]    Script Date: 29.10.2025 15:50:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturer](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 29.10.2025 15:50:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [int] NOT NULL,
	[AmountOfRent] [float] NULL,
	[DateRent] [datetime] NULL,
	[FK_AddressPickUpPoint] [int] NULL,
	[FK_User] [int] NULL,
	[CodeToReceive] [float] NULL,
	[FK_OrderStatus] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Equipment]    Script Date: 29.10.2025 15:50:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Equipment](
	[ID] [int] NOT NULL,
	[FK_Equipment] [int] NULL,
	[FK_Order] [int] NULL,
	[Quantity] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Status]    Script Date: 29.10.2025 15:50:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Status](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PickUpPoint]    Script Date: 29.10.2025 15:50:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PickUpPoint](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Address] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 29.10.2025 15:50:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] NOT NULL,
	[Article] [nvarchar](255) NULL,
	[Equipment_Name] [nvarchar](255) NULL,
	[Rental unit] [nvarchar](255) NULL,
	[Price] [float] NULL,
	[FK_Supplier] [int] NULL,
	[FK_Manufacturer] [int] NULL,
	[FK_Equipment_Type] [int] NULL,
	[Discount] [float] NULL,
	[Number_Units] [float] NULL,
	[Description] [nvarchar](max) NULL,
	[Photo] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 29.10.2025 15:50:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 29.10.2025 15:50:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 29.10.2025 15:50:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] NOT NULL,
	[FK_Role] [int] NULL,
	[FIO] [nvarchar](255) NULL,
	[Login] [nvarchar](255) NULL,
	[Password] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EquipmentType] ON 

INSERT [dbo].[EquipmentType] ([ID], [Name]) VALUES (1, N'Акустические системы')
INSERT [dbo].[EquipmentType] ([ID], [Name]) VALUES (2, N'Электрогитары')
INSERT [dbo].[EquipmentType] ([ID], [Name]) VALUES (3, N'Микрофоны')
SET IDENTITY_INSERT [dbo].[EquipmentType] OFF
GO
INSERT [dbo].[Manufacturer] ([ID], [Name]) VALUES (1, N'Echo Acoustic')
INSERT [dbo].[Manufacturer] ([ID], [Name]) VALUES (2, N'IBANEZ')
INSERT [dbo].[Manufacturer] ([ID], [Name]) VALUES (3, N'СОЮЗ')
GO
INSERT [dbo].[Order] ([ID], [AmountOfRent], [DateRent], [FK_AddressPickUpPoint], [FK_User], [CodeToReceive], [FK_OrderStatus]) VALUES (1, 1, CAST(N'2025-04-20T00:00:00.000' AS DateTime), 1, 4, 901, 3)
INSERT [dbo].[Order] ([ID], [AmountOfRent], [DateRent], [FK_AddressPickUpPoint], [FK_User], [CodeToReceive], [FK_OrderStatus]) VALUES (2, 7, CAST(N'2025-04-21T00:00:00.000' AS DateTime), 11, 1, 902, 3)
INSERT [dbo].[Order] ([ID], [AmountOfRent], [DateRent], [FK_AddressPickUpPoint], [FK_User], [CodeToReceive], [FK_OrderStatus]) VALUES (3, 2, CAST(N'2025-04-22T00:00:00.000' AS DateTime), 2, 2, 903, 3)
GO
INSERT [dbo].[Order_Equipment] ([ID], [FK_Equipment], [FK_Order], [Quantity]) VALUES (1, 1, 1, 4)
INSERT [dbo].[Order_Equipment] ([ID], [FK_Equipment], [FK_Order], [Quantity]) VALUES (2, 2, 3, 3)
INSERT [dbo].[Order_Equipment] ([ID], [FK_Equipment], [FK_Order], [Quantity]) VALUES (3, 3, 2, 6)
GO
INSERT [dbo].[Order_Status] ([ID], [Name]) VALUES (1, N'Не выдан')
INSERT [dbo].[Order_Status] ([ID], [Name]) VALUES (2, N'В аренде')
INSERT [dbo].[Order_Status] ([ID], [Name]) VALUES (3, N'Завершен')
GO
SET IDENTITY_INSERT [dbo].[PickUpPoint] ON 

INSERT [dbo].[PickUpPoint] ([ID], [Address]) VALUES (1, N'420151, г. Лесной, ул. Вишневая, 32')
INSERT [dbo].[PickUpPoint] ([ID], [Address]) VALUES (2, N'125061, г. Лесной, ул. Подгорная, 8')
INSERT [dbo].[PickUpPoint] ([ID], [Address]) VALUES (3, N'630370, г. Лесной, ул. Шоссейная, 24')
SET IDENTITY_INSERT [dbo].[PickUpPoint] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([ID], [Name]) VALUES (1, N'Администратор')
INSERT [dbo].[Role] ([ID], [Name]) VALUES (2, N'Менеджер')
INSERT [dbo].[Role] ([ID], [Name]) VALUES (3, N'Авторизированный пользователь')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([ID], [Name]) VALUES (1, N'Музторг')
INSERT [dbo].[Supplier] ([ID], [Name]) VALUES (2, N'Седьмой ряд')
INSERT [dbo].[Supplier] ([ID], [Name]) VALUES (3, N'audiomania')
SET IDENTITY_INSERT [dbo].[Supplier] OFF
GO
INSERT [dbo].[User] ([ID], [FK_Role], [FIO], [Login], [Password]) VALUES (1, 1, N'Никифорова Весения Николаевна', N'94d5ous@gmail.com', N'uzWC67')
INSERT [dbo].[User] ([ID], [FK_Role], [FIO], [Login], [Password]) VALUES (2, 1, N'Сазонов Руслан Германович', N'uth4iz@mail.com', N'2L6KZG')
INSERT [dbo].[User] ([ID], [FK_Role], [FIO], [Login], [Password]) VALUES (3, 1, N'Одинцов Серафим Артёмович', N'yzls62@outlook.com', N'JlFRCZ')
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([FK_AddressPickUpPoint])
REFERENCES [dbo].[PickUpPoint] ([ID])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([FK_OrderStatus])
REFERENCES [dbo].[Order_Status] ([ID])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([FK_User])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Order_Equipment]  WITH CHECK ADD FOREIGN KEY([FK_Equipment])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[Order_Equipment]  WITH CHECK ADD FOREIGN KEY([FK_Order])
REFERENCES [dbo].[Order] ([ID])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([FK_Equipment_Type])
REFERENCES [dbo].[EquipmentType] ([ID])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([FK_Manufacturer])
REFERENCES [dbo].[Manufacturer] ([ID])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([FK_Supplier])
REFERENCES [dbo].[Supplier] ([ID])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([FK_Role])
REFERENCES [dbo].[Role] ([ID])
GO
USE [master]
GO
