USE [master]
GO
/****** Object:  Database [Aganichev_БытСервис]    Script Date: 29.09.2025 11:56:04 ******/
CREATE DATABASE [Aganichev_БытСервис]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Aganichev_БытСервис', FILENAME = N'D:\DB\MSSQL16.VIP2024\MSSQL\DATA\Aganichev_БытСервис.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Aganichev_БытСервис_log', FILENAME = N'D:\DB\MSSQL16.VIP2024\MSSQL\DATA\Aganichev_БытСервис_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Aganichev_БытСервис].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Aganichev_БытСервис]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 29.09.2025 11:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[fio] [nvarchar](255) NULL,
	[phone] [nvarchar](255) NULL,
	[login] [nvarchar](255) NULL,
	[password] [nvarchar](255) NULL,
	[type] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Managers]    Script Date: 29.09.2025 11:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Managers](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[fio] [nvarchar](255) NULL,
	[phone] [nvarchar](255) NULL,
	[login] [nvarchar](255) NULL,
	[password] [nvarchar](255) NULL,
	[type] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Masters]    Script Date: 29.09.2025 11:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Masters](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[fio] [nvarchar](255) NULL,
	[phone] [nvarchar](255) NULL,
	[login] [nvarchar](255) NULL,
	[password] [nvarchar](255) NULL,
	[type] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RepairPart]    Script Date: 29.09.2025 11:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RepairPart](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[repairParts] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Requests]    Script Date: 29.09.2025 11:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requests](
	[requestID] [int] IDENTITY(1,1) NOT NULL,
	[startDate] [datetime] NULL,
	[FK_techModelID] [int] NULL,
	[problemDescryption] [nvarchar](255) NULL,
	[FK_requestStatusID] [int] NULL,
	[completionDate] [datetime] NULL,
	[FK_repairPartID] [int] NULL,
	[FK_clientID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[requestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[requestStatus]    Script Date: 29.09.2025 11:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[requestStatus](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[requestStatus] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TechModel]    Script Date: 29.09.2025 11:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TechModel](
	[homeTechModel] [nvarchar](255) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FK_techType] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TechType]    Script Date: 29.09.2025 11:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TechType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[homeTechType] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Works]    Script Date: 29.09.2025 11:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Works](
	[workID] [int] IDENTITY(1,1) NOT NULL,
	[message] [nvarchar](255) NULL,
	[FK_masterID] [int] NULL,
	[FK_requestID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[workID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD FOREIGN KEY([FK_clientID])
REFERENCES [dbo].[Clients] ([userID])
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD FOREIGN KEY([FK_repairPartID])
REFERENCES [dbo].[RepairPart] ([ID])
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD FOREIGN KEY([FK_requestStatusID])
REFERENCES [dbo].[requestStatus] ([ID])
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD FOREIGN KEY([FK_techModelID])
REFERENCES [dbo].[TechModel] ([ID])
GO
ALTER TABLE [dbo].[TechModel]  WITH CHECK ADD FOREIGN KEY([FK_techType])
REFERENCES [dbo].[TechType] ([ID])
GO
ALTER TABLE [dbo].[Works]  WITH CHECK ADD FOREIGN KEY([FK_masterID])
REFERENCES [dbo].[Masters] ([userID])
GO
ALTER TABLE [dbo].[Works]  WITH CHECK ADD FOREIGN KEY([FK_requestID])
REFERENCES [dbo].[Requests] ([requestID])
GO
USE [master]
GO
